html{
   background-image: linear-gradient(#FC5E55,  #FA4083);

}
body{
    background-image: url(images/image-lion-background.png);
   font-family: 'Gowun Batang', serif;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   color: white;
   font-size: 1.25rem;
}
a{
    text-decoration: none;
    color: white;
}
.container{
width: 1024px;
min-height: 300px;
margin-left: auto;
margin-right: auto;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
main{

  min-height: 300px;
  display: flex;
  align-items: center;
}
.main2{

    min-height: 300px;
    padding-top: 50px;
}
.cards{
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
.card1{
    min-height: 250px;
    width: 30%;
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
}
.card2{
    background-image: url(images/image-background-card2.jpg);
    min-height: 250px;
    width: 30%;
    background-size: cover;
    background-position: bottom;
}
.card3{
    background-image: url(images/image-background-card3.jpg);
    min-height: 250px;
    width: 30%;
    background-size: cover;
    background-position: bottom;
}
.card1,.card2,.card3{

    padding: 40px;
    box-sizing: border-box;
}
.herobox1{

    flex:2;
    padding-right: 100px;
}
.herobox2{

    flex:1;
}
h1{

    font-size: 3.25rem;
    margin-bottom: 1rem;
}
h2{
    margin-top: 20px;
    font-size: 2rem;
    margin-bottom: 1rem;
}
p{
    line-height: 1.75rem;
    margin-bottom: 1rem;
}
.cards p{

    font-size: .85rem;
    line-height: 1.25rem;
    margin-top: 15px;
}
.cards i{
    font-size: 50px;
    padding-top: 20px;
}

.mybutton{
background-color: white;
color: #FA4083;
padding: 11px 25px;
display: inline-block;
margin-top: 20px;
border-radius: 100px;
/* box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.637); */
}
.mybutton:hover{

    background-color: rgb(146, 106, 106);
    color: white;
}
.navbutton{
border-width: 1.5px;
border-style: solid;
padding: 6px 10px;
display: inline-block;
position: relative;

}
.testimonials{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;

}
.tbox{
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box; margin-top: 50px;

}
.tbox p:last-of-type{
    font-size: 0.8rem;

}
/* .tbox :last-child{
    font-size: 0.5rem;
} */
.dropdown{
    display: none;
    position:absolute;
    padding-top: 20px;
    text-align: center;
}
.navbutton:hover .dropdown{

    display: block;
}
.dropdown .navbutton {
    background-color: white;
    width: 120px;
}
.dropdown .navbutton a{
    color: #FA4083;
    font-size: 1rem;
}
#name{


}
