html{

    height: 100%;
}
body{
   background-image: linear-gradient(#FC5E55,  #FA4083);
   font-family: 'Gowun Batang', serif;
   color: white;
   font-size: 1.25rem;
}
.container{
width: 1024px;
min-height: 300px;
margin-left: auto;
margin-right: auto;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20spx;
}
main{

  min-height: 300px;
  display: flex;
  align-items: center;
}
.cards{
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
.card1{
    min-height: 250px;
    width: 30%;
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
}
.card2{
    background-image: url(images/image-background-card2.jpg);
    min-height: 250px;
    width: 30%;
    background-size: cover;
    background-position: bottom;
}
.card3{
    background-image: url(images/image-background-card3.jpg);
    min-height: 250px;
    width: 30%;
    background-size: cover;
    background-position: bottom;
}
.card1,.card2,.card3{

    padding: 40px;
    box-sizing: border-box;
}
.herobox1{

    flex:2;
    padding-right: 100px;
}
.herobox2{

    flex:1;
}
h1{

    font-size: 3.25rem;
    margin-bottom: 1rem;
}
h2{
    margin-top: 20px;
    font-size: 2rem;
    margin-bottom: 1rem;
}
p{
    line-height: 1.75rem;
    margin-bottom: 1rem;
}
.cards p{

    font-size: .85rem;
    line-height: 1.25rem;
    margin-top: 15px;
}
.cards i{
    font-size: 50px;
    padding-top: 20px;
}
.cards a{
    text-decoration: none;
    color: white;
}
