.container{
width: 1024px;
background-color: rgb(15, 107, 15);
min-height: 300px;
margin-left: auto;
margin-right: auto;
}
header{

    background-color: rgb(30, 180, 30);
    min-height: 100px;
}
main{

  background-color: greenyellow;
  min-height: 300px;
  display: flex;
}
.cards{

    background-color: rgb(127, 180, 47);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
  }
.card1{
    background-color: rgb(97, 4, 116);
    min-height: 300px;
    width: 30%;
}
.card2{
    background-color: rgb(215, 176, 223);
    min-height: 300px;
    width: 30%;
}
.card3{
    background-color: rgb(23, 2, 27);
    min-height: 300px;
    width: 30%;
}
.herobox1{

    flex:2;
    background-color: rgb(185, 24, 24);
}
.herobox2{

    flex:1;
    background-color: rgb(170, 70, 70);
}
