html{

    height: 100%;
}
body{
   background-image: linear-gradient(#FC5E55,  #FA4083);
   font-family: 'Gowun Batang', serif;
   color: white;
}
.container{
width: 1024px;
min-height: 300px;
margin-left: auto;
margin-right: auto;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20spx;
}
main{

  min-height: 300px;
  display: flex;
  align-items: center;
}
.cards{

    background-color: rgb(127, 180, 47);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
  }
.card1{
    background-color: rgb(97, 4, 116);
    min-height: 300px;
    width: 30%;
}
.card2{
    background-color: rgb(215, 176, 223);
    min-height: 300px;
    width: 30%;
}
.card3{
    background-color: rgb(23, 2, 27);
    min-height: 300px;
    width: 30%;
}
.herobox1{

    flex:2;
}
.herobox2{

    flex:1;
}
h1{

    font-size: 80px;
}
